.root-wrapper {
    flex-direction: column;
}

.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen {
    height: 100vh;
    width: 100vw;
}

.request-form {
    width: 400px;
    height: 450px;
    border: 1px dashed lightgray;
    flex-direction: column;
    gap: 10px;
}